#### 텍스트 가공
    - pandas.core.strings.StringMethods => str

In [1]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series(["Suho","AA",np.nan,"Rabbit"])
ser

0      Suho
1        AA
2       NaN
3    Rabbit
dtype: object

In [4]:
# 소문자 변경 : lower()

ser.str.lower()

0      suho
1        aa
2       NaN
3    rabbit
dtype: object

In [5]:
# 대문자 변경 : upper()
ser.str.upper()

0      SUHO
1        AA
2       NaN
3    RABBIT
dtype: object

In [6]:
# 문자열 길이: len()
ser.str.len()

0    4.0
1    2.0
2    NaN
3    6.0
dtype: float64

In [10]:
ser = pd.Series(["Suho     ","AA",np.nan,"    Rabbit"])
ser

0     Suho
1            AA
2           NaN
3        Rabbit
dtype: object

In [11]:
# 공백제거 : strip()
ser.str.strip()

0      Suho
1        AA
2       NaN
3    Rabbit
dtype: object

In [12]:
ser1 = pd.Series(["ha_a_b","hi_c_d",np.nan,"ho_e_f"])
ser1

0    ha_a_b
1    hi_c_d
2       NaN
3    ho_e_f
dtype: object

In [14]:
# _ 를 기준으로 분리
ser1.str.split("_",expand=True)

     0    1    2
0   ha    a    b
1   hi    c    d
2  NaN  NaN  NaN
3   ho    e    f

In [15]:
df = pd.DataFrame(np.random.randn(2,2), columns=["   Column A   ","   Column B   "], index=range(2))
df

   Column A     Column B
0    -0.031676    -0.390487
1     0.520582    -1.386036

In [16]:
df.columns

Index(['   Column A   ', '   Column B   '], dtype='object')

In [17]:
df.columns.str.strip()

Index(['Column A', 'Column B'], dtype='object')

In [18]:
df.columns.str.strip().str.lower()

Index(['column a', 'column b'], dtype='object')

In [20]:
df.columns.str.strip().str.lower().str.replace(" ","_")

Index(['column_a', 'column_b'], dtype='object')

In [22]:
day_plan = [
    "1st_seq: getting up at 05:45am",
    "2st_seq: swimming from 06:00 to 07:00am",
    "3st_seq: My morning food is American style",
    "4st_seq: Writing some proposal from 02:00pm to 06:00pm",
    "5st_seq: Arriving at JongGak at 07:00pm",
    "6st_seq: Fun with friends enjoy beer till 09:20pm",
    "7st_seq: My house at 10:30pm and sleeping by 12:00pm",
]
df = pd.DataFrame(day_plan, columns=["schedule"])
df

                                            schedule
0                     1st_seq: getting up at 05:45am
1            2st_seq: swimming from 06:00 to 07:00am
2         3st_seq: My morning food is American style
3  4st_seq: Writing some proposal from 02:00pm to...
4            5st_seq: Arriving at JongGak at 07:00pm
5  6st_seq: Fun with friends enjoy beer till 09:20pm
6  7st_seq: My house at 10:30pm and sleeping by 1...

In [25]:
# 공백 기준 분리

df["schedule"].str.split()

0                 [1st_seq:, getting, up, at, 05:45am]
1       [2st_seq:, swimming, from, 06:00, to, 07:00am]
2    [3st_seq:, My, morning, food, is, American, st...
3    [4st_seq:, Writing, some, proposal, from, 02:0...
4       [5st_seq:, Arriving, at, JongGak, at, 07:00pm]
5    [6st_seq:, Fun, with, friends, enjoy, beer, ti...
6    [7st_seq:, My, house, at, 10:30pm, and, sleepi...
Name: schedule, dtype: object

In [26]:
df["schedule"].str.split(expand=True)

,0,1,2,3,4,5,6,7,8
0,1st_seq:,getting,up,at,05:45am,None,None,None,None
1,2st_seq:,swimming,from,06:00,to,07:00am,None,None,None
2,3st_seq:,My,morning,food,is,American,style,None,None
3,4st_seq:,Writing,some,proposal,from,02:00pm,to,06:00pm,None
4,5st_seq:,Arriving,at,JongGak,at,07:00pm,None,None,None
5,6st_seq:,Fun,with,friends,enjoy,beer,till,09:20pm,None
6,7st_seq:,My,house,at,10:30pm,and,sleeping,by,12:00pm

In [27]:
df["schedule"].str.split().str.len()

0    5
1    6
2    7
3    8
4    6
5    8
6    9
Name: schedule, dtype: int64

In [28]:
# My 단어 포함 여부

df["schedule"].str.contains("My")

0    False
1    False
2     True
3    False
4    False
5    False
6     True
Name: schedule, dtype: bool

In [30]:
# df=> csv 파일로 저장

df.to_csv("./resources/df.csv",index=False)

In [47]:
# 유튜브 댓글 크롤링 / 데이터 프레임

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup

driver = webdriver.Chrome()
# driver.maximize_window()


driver.get("https://www.youtube.com/watch?v=HosW0gulISQ")
time.sleep(3)

# 댓글수집
# 페이지 이동후 스크롤입력 : window.scrollTo(시작위치, 종료위치)
# 현재문서 높이
prev_height = driver.execute_script("document.documentElement.scrollHeight")

while True:
    # 스크롤이동
    driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight)")
    time.sleep(2)

    # 스크롤이 진행된 후 문서높이
    curry_height = driver.execute_script("return document.documentElement.scrollHeight")
    
    if curry_height == prev_height:
        break

    prev_height = curry_height

# 맨처음으로 가기
driver.execute_script("window.scrollTo(0,0)")
time.sleep(2)

# 댓글 가져오기
response = driver.page_source
soup = BeautifulSoup(response, "html.parser")

In [48]:
# 파싱 : 아이디, 코멘트 
id_list = soup.select("#auther-text > span")
comment_list = soup.select("#content-text > span")

In [53]:
for i in range(len(id_list)):
    print(id_list[i].text.strip(), comment_list[i].text.strip())

In [50]:
# 엔터 제거 / @ 제거

id_list_clean = []
comment_list_clean =[]

for i in range(len(id_list)):
    id,comment =id_list[i].text.strip(), comment_list[i].text.strip()
    cln_id = id.replace("@","")
    cln_id = cln_id.replace("\n","")
    id_list_clean.append(cln_id)

    comment_id = comment.replace("\n","")
    comment_id = comment_id.replace("\t","")
    comment_list_clean.append(comment_id)

# 확인
for i in range(len(id_list_clean)):
    print(id_list_clean[i],comment_list_clean[i])

In [51]:
df = pd.DataFrame(
    {"id":id_list_clean, "comment":comment_list_clean}
)
df

Empty DataFrame
Columns: [id, comment]
Index: []

In [52]:
df.to_csv("./resources/comment.csv",index=False)